<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanic List</title>
    
</head>
<body>
     <div id="mechanics">
        <table id="mechanicTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
     </div>
     <script src="{{ url_for('static', filename='js/mechanic.js') }}"></script>
</body>
</html>